<header>
    <h1>1.S.T.S - One Stop Tool Shop</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/tool-hire">Tool Hire</a>
        <a href="/tool-sale">Tool Sale</a>
        <a href="/used-tools">Used Tools</a>
        <a href="/list-tool">List a Tool</a>
        <a href="/search-tool">Search Tools</a>
        <a href="/company-profile">Company Profile</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </nav>
</header>
